.input{
    background-color: transparent;
    color: var(--text-default);
    font-size: 1.8rem;
    text-align: center;
    padding: 0.8rem;
    outline: none;
    border: .2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    /* border-bottom: 2px solid white; */
    
}
.input:focus{
    transition: ease-in-out 0.2s;
    border: .2rem solid var(--primary);
    border-radius: 0.8rem;
    
}

.input::placeholder{
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}
.input:disabled{
    border: .2rem solid var(disable);
    color: var(--text-muted);
}