.logo{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    padding-top: 3.2rem;
    
    
    
}
.logoLink{
    
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--primary-dark);
    transition: all .1s ease-in-out;
}
.logoLink:hover{
    filter: brightness(50%);
}

.logoLink svg{
    width: 6.4rem;
}