.container{
    font-size: clamp(8rem ,25vw,16rem );
    /* clamp é o mínimo variável e máximo */
    /* font-size: 16rem; */
    font-size: 25vw;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    
}