.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    
    
    
}
.menuLink{
    
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    font-size: 4.2rem;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--text-over-primary);
    padding: 2.2rem;
    border-radius: 0.8rem;
    transition: all .1s ease-in-out;
}
.menuLink:hover{
    filter: brightness(50%);
}

.manuLink svg{
    width: 3.4rem;
}