.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.footer a {
    color: var(--text-muted);
    font-size: 1.2rem;
    text-decoration: none;
    
}
.footer a:hover{
    text-decoration: underline;

}