.cycles{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;

}

.cycleDots{
    display: flex;
    gap: .5rem;
}
.cycleDot{
    width: 4rem;
    height: 4rem;
    background-color: var(--primary);
    margin: 0.2rem;
    border-radius: 2rem;

}
.workTime{
    background-color: var(--warning);
}
.shortBreakTime{
    background-color: var(--primary);
}
.longBreakTime{
    background-color: var(--info);
}

