.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.timer-icon{
    background-color: rgba(240, 248, 255, 0);
    color: var(--primary-dark);
}